{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data2 = google.visualization.arrayToDataTable([
          ['News', 'No of tweets'],
          ['Positive', {{ pos_countt }}],
          ['Negative', {{ neg_countt }}],
          ['Neutral', {{ neutral_count }}]
        ]);
        var options2 = {
          title: 'Twitter Sentiment Analysis',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_twitter'));
        chart.draw(data2, options2);
      }
</script>

<div class="main-content-inner">
                <div class="row">

                 <!-- trading history area start -->
                    <div class="col-lg-12  mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                                    {
                                    "symbol": "BSE:{{quote}}",
                                    "width": "100%",
                                    "locale": "en",
                                    "colorTheme": "light",
                                    "isTransparent": true
                                }
                                    </script>
                                </div>
                                <!-- TradingView Widget END -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- trading history area end -->

                    <!-- Price history start -->
                    <div class="col-lg-8 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <!--
                                <h4 class="header-title">Price History</h4>
                                <div id="user-statistics"></div>
                                -->
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container">
                                    <div id="tv-medium-widget"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                    <script type="text/javascript">
                                    new TradingView.MediumWidget(
                                    {
                                    "container_id": "tv-medium-widget",
                                    "symbols": [
                                        [
                                            "{{quote}}",
                                            "BSE:{{quote}}|3m"
                                        ]
                                    ],
                                    "greyText": "Quotes by",
                                    "gridLineColor": "#e9e9ea",
                                    "fontColor": "#83888D",
                                    "underLineColor": "#dbeffb",
                                    "trendLineColor": "#4bafe9",
                                    "width": "100%",
                                    "height": "480",
                                    "locale": "en"
                                }
                                    );
                                    </script>
                                </div>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                    <!-- price history end -->

                    <!-- Company profile start -->
                    <div class="col-lg-4 mt-5">
                        <div class="card h-full">
                            <div class="card-body">
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-profile.js" async>
                                    {
                                    "symbol": "BSE:{{quote}}",
                                    "width": "100%",
                                    "height": "480",
                                    "colorTheme": "light",
                                    "isTransparent": true,
                                    "locale": "en"
                                     }
                                    </script>
                                </div>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>

                    <!-- Google News Sentiment analysis modal start -->
                    <div class="col-lg-12  mt-5">
                        <div class="card">
                            <div class="card-body">
                                    <h2>Top News Sentiment</h2>
                                    {% for head, des, url, sent in mylist %}
                                    <h4 class="card-title">{{ head }}</h4>
                                    <p>{{ des }}<a href="{{ url }}" target="_blank">[Read more]</a></p>
                                    <p><b>Sentiment: {{ sent }}</b></p><br><br>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Google News Sentiment analysis modal end -->

                    <!-- Twitter Sentiment modal start -->
                                <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                    <h4 class="header-title">Result (Keyword: {{ keyword }})</h4>
                                    <div id="piechart_twitter" style="width: 480px; height: 480px;"></div>

                                    <p align="center">*Quick Note: Our sentiment analysis tool is still in learning phase which means that some
                                        of the tweets may not be categorized correctly. However, as we analyze more data with time, our
                                        machine will learn and give better results.</p><br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                    <h4 class="header-title">Tweets for: {{ keyword }}</h4>

                                    <div class="data-tables">
                                        <table id="dataTable3" class="text-left">
                                            <thead class="bg-light text-capitalize">
                                                <tr>
                                                    <th>Top tweets</th>
                                                    <th>Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for y in newtweetn %}
                                            <tr>
                                                <td>{{ y }}</td>
                                                <td>Negative</td>
                                            </tr>
                                            {% endfor %}
                                            {% for z in newtweetp %}
                                            <tr>
                                                <td>{{ z }}</td>
                                                <td>Positive</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Twitter sentiment modal end -->


                </div>
</div>
</div>
        <!-- main content area end -->


{% endblock content %}