{% extends "dashboard/base.html" %}
{% block content %}

<div class="main-content-inner">
    <div class="row">

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">

                    <h2 class="card-title">Fundamental Tools</h2>
                    <p>Best FREE fundamental tools and templates to help you make better investment decisions. You can download
                    Trade Brains' spreadsheets for performing fundamental analysis, valuation and tracking your investments. Browse
                    through our list of tools below:</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="row">

        <!-- First chart starts here -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                       <h4 class="card-title">Google sheets Portfolio Tracker</h4>

                </div>
            </div>
        </div>
        <!-- First chart ends here -->

        <!-- Second chart starts here -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                         <h4 class="card-title">DCF Valuation Spreadsheet</h4>

                </div>
            </div>
        </div>
        <!-- Second chart ends here -->
    </div>
</div>

</div>

{% endblock content %}