{% extends "dashboard/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="main-content-inner" xmlns="http://www.w3.org/1999/html">
                <div class="row">

                    <!-- Start of watchlist form-->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1>Add stock to watchlist</h1>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>

                    <!-- End of watchlist form-->


                    <!-- Start of watchlist table-->

                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Your Stock Watchlist</h4>
                            <div class="data-tables">
                                <table id="dataTable" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                        <tr>
                                            <th>Name</th>
                                            <th>Current Price (Rs)</th>
                                            <th>Target Price (Rs)</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in watchlist %}
                                        <tr>
                                            <td>{{ x.stock_name }}</td>
                                            <td>{{ x.currentValue }}</td>
                                            <td>{{ x.target_price }}</td>
                                            <td>{{ x.comment }}</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li>
                                                        <form action="{% url 'delete_view' pk=x.pk %}" method="POST">
                                                          {% csrf_token %}
                                                            <button class="btn fa fa-trash" type="submit" value="Delete"/></button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- data table end -->

            </div>
        </div>


{% endblock content %}