{% extends "dashboard/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="main-content-inner" xmlns="http://www.w3.org/1999/html">
                <div class="row">

                    <!-- Start of watchlist form-->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1>Add stock to watchlist</h1>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.stock_name }}
                                {{ form.target_price }}
                                {{ form.comment }}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>

                    <!-- End of watchlist form-->


                    <!-- Start of watchlist table-->

                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Your Stock Watchlist</h4>
                            <div class="data-tables">
                                <table id="dataTable" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                        <tr>
                                            <th>Name</th>
                                            <th>Current Price (Rs)</th>
                                            <th>Target Price (Rs)</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in watchlist %}
                                        <tr>
                                            <td>{{ x.stock_name }}</td>
                                            <td>{{ x.currentValue }}</td>
                                            <td>{{ x.target_price }}</td>
                                            <td>{{ x.comment }}</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li>
                                                        <form action="{% url 'delete_view' pk=x.pk %}" method="POST">
                                                          {% csrf_token %}
                                                            <button class="btn fa fa-trash" type="submit" value="Delete"/></button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- data table end -->

            </div>
        </div>

<script>
  var stock_name=$("#id_stock_name");
    stock_name[0].className="form-control form-control-lg myInput";
    stock_name[0].placeholder="Enter the name/symbol of company...";
    stock_name.keypress(function(event){ q = stock_name[0].value + event.key;
    if (q.length == 1){
        req(q);
    }
   });
  </script>


<script>
    var req = function(q){
        realurl="search/<str:s>/";
        console.log(q,realurl,"url");
        jQuery.ajax({
            type: "get",
            url: realurl,
            success: function(data) {
                    alpha=data["res"];
                    },
            async: false ,
            });
        var unique = alpha.filter(function(item, i, ar){
            return ar.indexOf(item) === i;
        });
            console.log(alpha);
        autocomplete(document.getElementsByClassName("myInput")[0], unique);
    };

function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });

  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });

  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

</script>


{% endblock content %}