{% extends "dashboard/base.html" %}

{% block content %}
<script>

{% block jquery %}
var endpoint = 'api/chart/data/'
var defaultData = []
var defaultLabels = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        defaultLabels = data.defaultLabels
        defaultData = data.defaultData
        sectors = data.sectors
        sectorsData = data.sectorsData
        holdings = data.holdings
        holdingsPercent = data.holdingsPercent
        stocklist = data.stocklist
        positivesent = data.positivesent
        negativesent = data.negativesent
        setChart()

    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var ctx4 = document.getElementById('myChart4').getContext('2d');

        var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: sectors,
            datasets: [{
                label: 'Sectorial Distribution',
                data: sectorsData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },

        });

        var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: holdings,
            datasets: [{
                label: 'Top 5 Holdings (as % of total)',
                data: holdingsPercent,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });

        var myChart3 = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: defaultLabels,
            datasets: [{
                label: 'Portfolio Return',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });

        var myChart4 = new Chart(ctx4, {
        type: 'horizontalBar',
        data: {
            labels: stocklist,
            datasets: [{
				label: 'Positive',
				backgroundColor: window.chartColors.blue,
				stack: 'Stack 0',
				data: positivesent
			}, {
				label: 'Negative',
				backgroundColor: window.chartColors.red,
				stack: 'Stack 0',
				data: negativesent
			}]
        },
        options: {
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
        });

}

{% endblock %}
</script>

<div class="main-content-inner">
    <div class="row">

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">

                    <h2>Portfolio Analytics</h2>
                    <p>Here is a quick snapshot of your portfolio [Click here to add your latest purchases to the list]</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Financial profile -->
<div class="main-content-inner">
    <div class="row">

        <!-- First chart starts here -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                   <h4 class="card-title">Portfolio Sentiment:</h4>
                    <canvas id="myChart4"></canvas><br><br>
                    <h4 class="card-title">Returns:</h4>
                    <canvas id="myChart3"></canvas><br><br>
                    <h4 class="card-title">Top Holdings:</h4>
                    <canvas id="myChart2"></canvas><br><br>
                    <h4 class="card-title">Sectorial Distribution:</h4>
                    <canvas id="myChart"></canvas><br><br>
                </div>
            </div>
        </div>
        <!-- First chart ends here -->

        <!-- Second chart starts here -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title">Your Stock Portfolio</h4>
                            <div class="data-tables">
                                <table id="dataTable" class="text-center">
                                    <thead class="bg-light text-capitalize">
                                        <tr>
                                            <th>Name</th>
                                            <th>Current Price (Rs)</th>
                                            <th>Purchase Price</th>
                                            <th>Quantity</th>
                                            <th>Profit/Loss</th>
                                            <th>Industry/Sector</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>HUL</td>
                                            <td>1434</td>
                                            <td>1234</td>
                                            <td>100</td>
                                            <td>20000</td>
                                            <td>Consumer Good</td>
                                        </tr>
                                        <tr>
                                            <td>Infosys</td>
                                            <td>656</td>
                                            <td>718</td>
                                            <td>80</td>
                                            <td>4800</td>
                                            <td>IT/Technology</td>
                                        </tr>
                                    </tbody>
                            </table>

                    <h4 class="card-title">Top News:</h4>

                </div>
            </div>
        </div>
        <!-- Second chart ends here -->
    </div>
</div>

</div>

<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

{% endblock content %}