{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-content-inner">
    <div class="row">

                <div class="container">
                    <div class="login-box ptb--100">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="login-form-head">
                                            <h4>Login</h4>
                                            <p>Hello there. Login to your account!</p>
                                </div>
                                <div class="login-form-body">
                                            {{ form|crispy }}
                                        <div class="submit-btn-area">
                                        <button id="form_submit" type="submit">Login<i class="ti-arrow-right"></i></button>
                                            <div class="ml-2">
                                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="form-footer text-center mt-5">
                                        <p class="text-muted">Don't Have An Account? <a href="{% url 'register' %}">Sign Up</a></p>
                                        </div>
                                </div>

                            </form>
                    </div>
                </div>



    </div>
</div>


{% endblock content %}




