{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

<div class="main-content-inner">
                <div class="row">

                 <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Explore the latest themes and trends</h4>
                                <div class="data-tables datatable-primary">
                                    <table id="dataTable2" class="text-center">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>Image</th>
                                                <th>Theme</th>
                                                <th>Description</th>
                                                <th>Trend</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for thematic in thematic  %}
                                            <tr>
                                                <td><img src="{% static "" %}/dashboard/assets/images/thematic/{{ thematic.image }}" alt="thematic inv" width="50"></td>
                                                <td>{{ thematic.theme_name }}</td>
                                                <td>{{ thematic.description }}</td>
                                                <td><img src="{% static "" %}/dashboard/assets/images/icon/market-value/{{ thematic.trend }}" alt="icon"></td>
                                                <td><a href="{{ thematic.explore }}"><button type="button" class="btn btn-primary mb-3">Explore</button></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Primary table end -->

        </div>
    </div>
</div>

{% endblock content %}