{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

<div class="main-content-inner">
    <div class="row">


                <!-- Large modal start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="media mb-6">
                                    <img class="img-fluid mr-4" src="{% static "" %}/aceinvestors/MohnishPabrai.jpg" alt="image" height="80" width="80">
                                    <div class="media-body">
                                        <div class="s-report-title d-flex justify-content-between">
                                            <h4> Mohnish Pabrai</h4>
                                        </div>
                                        <div class="d-flex justify-content-between pb-2">
                                            <p>Rakesh Jhunjhunwala, also known as the ‘big bull’ or ‘Indian Warren Buffett’, is one of the most successful stock market player in India. According to the latest update on Forbes in June 2019, the net worth of Rakesh Jhunjhunwala is $3.1 Billion, which is equivalent to over Rs 19,000 Crores. <br><br>Mr Jhunjhunwala began investing in stocks in 1985 when the Bombay Stock Exchange Index was at 150; it now trades over 40,000. Currently, he manages a privately owned stock trading firm called ‘RARE Enterprises’.</p>

                                        </div>
                                <button type="button" class="btn btn-primary btn-flat btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Read more

                                </button>
                                    </div>
                                </div>
                                <div class="modal fade bd-example-modal-lg">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Rakesh Jhunjhunwala Success story</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">

                                                <img src="https://stockaxis.com/Blog/images/Rakesh-Jhunjhunwala.jpg" alt="Rakesh Jhunjhunwala">

                                                <br><br>According to the latest updates on <a href="https://www.forbes.com/profile/rakesh-jhunjhunwala/" target="_blank" rel="noopener"><strong>Forbes</strong></a> (June 2019), the net worth of Rakesh Jhunjhunwala is $3.1 Billion, which is equivalent to over Rs 19,000 Crores.

                                                So, how did a regular guy from Mumbai with just Rs 5,000 became one of the most successful stock investors in Indian history? In this post, we are going to walk through the journey of Rakesh Jhunjhunwala in the Indian stock market.<br>

                                                <br><h6>Childhood:</h6>
                                                Rakesh Jhunjhunwala, also known as the 'big bull' or 'Indian Warren Buffett' was born on 5th July 1960 in Mumbai.

                                                His father was an Income tax officer.

                                                Rakesh Jhunjhunwala consistently used to hear his father discussing stock market with his friends. As he was very curious about stocks, so once he asked his father that why stock price fluctuates daily? His father suggested him to read newspapers as its the news that makes the price of stocks to fluctuate.

                                                Rakesh Jhunjhunwala also expressed his wish to pursue a career in the stock market. However, his father suggested him to first get a graduate degree from a college.

                                                Rakesh Jhunjhunwala graduated from Sydenham college in 1985 as a chartered accountant.

                                                After graduation, he again discussed his career goal as a stock market investor with his father. To this, his father replied that he is permitted to pursue any career. However, he also added that he’s not going to give him any money, nor he can ask the initial capital from any of his father’s friends.

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Large modal modal end -->



     <!-- Primary table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Stock Portfolio (Ending March 2019)</h4>
                                <div class="data-tables datatable-primary">
                                    <table id="dataTable2" class="text-center">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>Company Name</th>
                                                <th>Total Quantity held</th>
                                                <th>Holding % in company</th>
                                                <th>Change from last quarter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for mohnishpabrai in mohnishpabrai  %}
                                            <tr>
                                                <td>{{ mohnishpabrai.company_name }}</td>
                                                <td>{{ mohnishpabrai.total_quantity_held }}</td>
                                                <td>{{ mohnishpabrai.Holding_percent }}</td>
                                                <td>{{ mohnishpabrai.Change_last_quarter }}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Primary table end -->

    </div>
</div>


{% endblock content %}