{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

<div class="main-content-inner">
    <div class="row">


                <!-- Large modal start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="media mb-6">
                                    <img class="img-fluid mr-4" src="{% static "" %}/aceinvestors/RakeshJhunjhunwala.jpg" alt="image" height="80" width="80">
                                    <div class="media-body">
                                        <div class="s-report-title d-flex justify-content-between">
                                            <h4> Rakesh Jhunjhunwala</h4>
                                        </div>
                                        <div class="d-flex justify-content-between pb-2">
                                            <p>Rakesh Jhunjhunwala, also known as the ‘big bull’ or ‘Indian Warren Buffett’, is one of the most successful stock market player in India. <br><br>Mr Jhunjhunwala began investing in stocks in 1985 when the Bombay Stock Exchange Index was at 150; it now trades over 40,000. Currently, he manages a privately owned stock trading firm called ‘RARE Enterprises’. <br><br> According to the latest update on Forbes in June 2019, the net worth of Rakesh Jhunjhunwala is $3.1 Billion, which is equivalent to over Rs 19,000 Crores.</p>

                                        </div>
                                <button type="button" class="btn btn-primary btn-flat btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Read more
                                </button>
                                    </div>
                                </div>
                                <div class="modal fade bd-example-modal-lg">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Rakesh Jhunjhunwala Success story</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">

                                                <img src="https://stockaxis.com/Blog/images/Rakesh-Jhunjhunwala.jpg" alt="Rakesh Jhunjhunwala">

                                                <br><br>According to the latest updates on <a href="https://www.forbes.com/profile/rakesh-jhunjhunwala/" target="_blank" rel="noopener"><strong>Forbes</strong></a> (June 2019), the net worth of Rakesh Jhunjhunwala is $3.1 Billion, which is equivalent to over Rs 19,000 Crores.

                                                So, how did a regular guy from Mumbai with just Rs 5,000 became one of the most successful stock investors in Indian history? In this post, we are going to walk through the journey of Rakesh Jhunjhunwala in the Indian stock market.<br>

                                                <br><h6>Childhood:</h6>
                                                Rakesh Jhunjhunwala, also known as the 'big bull' or 'Indian Warren Buffett' was born on 5th July 1960 in Mumbai.

                                                His father was an Income tax officer.

                                                Rakesh Jhunjhunwala consistently used to hear his father discussing stock market with his friends. As he was very curious about stocks, so once he asked his father that why stock price fluctuates daily? His father suggested him to read newspapers as its the news that makes the price of stocks to fluctuate.

                                                Rakesh Jhunjhunwala also expressed his wish to pursue a career in the stock market. However, his father suggested him to first get a graduate degree from a college.

                                                Rakesh Jhunjhunwala graduated from Sydenham college in 1985 as a chartered accountant.

                                                After graduation, he again discussed his career goal as a stock market investor with his father. To this, his father replied that he is permitted to pursue any career. However, he also added that he’s not going to give him any money, nor he can ask the initial capital from any of his father’s friends.

                                                <br><br><h6>Entering the stock market world:</h6>
                                                Mr. Rakesh Jhunjhunwala entered the stock market with just Rs 5,000 in 1985. At that time, Sensex was at 150 points (currently Sensex is hovering at 35,000 points).

                                                Nevertheless, soon Rakesh Jhunjhunwala was able to take an amount of Rs 2.5 lakhs from one of his brother’s client by promising to give higher returns compared to the fixed deposits.

                                                Rakesh Jhunjhunwala’s first big profit was Rs 0.5 million in 1986. He bought 5,000 shares of Tata Tea at Rs 43 and within 3 months it was trading at Rs 143. He made a profit of over 3 times by selling the stocks of Tata tea.

                                                In the next few years. Rakesh Jhunjhunwala made a number of good profits from stocks. Between 1986-89, he earned Rs 20-25 lakhs.

                                                His next big investment was Sesa Goa, which he initially bought at Rs 28 and then increased his investment at Rs 35. Soon, the stock rallied to Rs 65.
                                                <br><br><h6>Multi-baggers stocks in Rakesh Jhunjhunwala's Portfolio:</h6>
                                                Rakesh Jhunjhunwala manages a privately owned stock trading firm called 'RARE Enterprises'. The name is derived from the first two initials of his name and his wife Mrs. Rekha Jhunjhunwala’s name.

                                                During his long career in the stock market, Rakesh Jhunjhunwala invested in a number of multi-bagger stocks.

                                                In 2002-03, Rakesh Jhunjhunwala bought ‘Titan Company Limited’ at an average price of Rs 3 and currently it is trading at a price of Rs 817. He is holding over 7.5 crore shares of titan company. He has an 'overall' holding of 8.45% in the company.

                                                In 2006, he invested in LUPIN and his average purchase price was Rs 150. Today, LUPIN is trading at Rs 822.20

                                                Few other multi-baggers in Rakesh Jhunjhunwala’s portfolio are CRISIL, PRAJ IND, Aurobindo Pharma, NCC etc.

                                                <br><br><h6>Philosophy:</h6>

                                                Rakesh Jhunjhunwala considers himself as both trader and a long-term investor.

                                                Here’s a quote from his interview with Economic times:

                                                <strong>“Short-term trading is for short-term gain. Long-term trading is for long-term capital formation. Trading is what gives you the capital to invest. My trading also helps my investing in the sense I use a lot of technical analysis for trading at times.</strong>

                                                <strong>If the stock is overpriced, I should sell but my trading skills tell me that the stock can remain overvalued or get more overvalued. Hence, I hold on to my investments.</strong>

                                                <strong>So, I think they complement each other in many ways but they are two distinct compartments totally.“</strong>

                                                Source: <a href="https://economictimes.indiatimes.com/opinion/interviews/the-journey-of-rakesh-jhunjhunwala/articleshow/5145756.cms" target="_blank" rel="noopener"><b>Economic Times- The journey of Rakesh Jhunjhunwala </b></a>

                                                <br><br>Further, apart from being in the board of directors of big companies like Prime Focus Ltd, Geojit BNP Paribas financial services, Praj Industries, Concord Biotech etc, Rakesh Jhunjhunwala is also a movie producer. He has produced movies like 'English-Vinglish', 'Shamitabh', 'Ki and Ka'. He is the chairman of Hungama Digital media entertainment Pvt Ltd.

                                                Overall, Rakesh Jhunjhunwala success story is really inspiring for the new and old investors. In the end, here’s an amazing quote by Rakesh Jhunjhunwala: <strong>"Passionate investors always make money in stock markets. You will never fail in any work if you do it with passion."</strong>



                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Large modal modal end -->


                    <!-- Scrolling Long modal start -->
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">

                                <div id="ambarchart2"></div>

                            </div>
                        </div>
                    </div>
        <!-- Scrolling Long modal end -->

     <!-- Primary table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Stock Portfolio (Ending March 2019)</h4>
                                <div class="data-tables datatable-primary">
                                    <table id="dataTable2" class="text-center">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th>Company Name</th>
                                                <th>Current Price</th>
                                                <th>Total Quantity held</th>
                                                <th>Holding % in company</th>
                                                <th>Total Value</th>
                                                <th>Change from last quarter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aptech Ltd</td>
                                                <td>147.10</td>
                                                <td>966840</td>
                                                <td>24.24%</td>
                                                <td>142.2 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>NCC</td>
                                                <td>226.10</td>
                                                <td>166840</td>
                                                <td>7.24%</td>
                                                <td>121.2 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Delta Corp</td>
                                                <td>540.10</td>
                                                <td>566840</td>
                                                <td>2.42%</td>
                                                <td>780 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Titan Company</td>
                                                <td>1250.10</td>
                                                <td>276848</td>
                                                <td>7.24%</td>
                                                <td>256.2 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Agro Tech Foods Ltd</td>
                                                <td>156.10</td>
                                                <td>966840</td>
                                                <td>1.76%</td>
                                                <td>98.2 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Autoline Industries</td>
                                                <td>354.10</td>
                                                <td>166841</td>
                                                <td>1.15%</td>
                                                <td>76.2 Cr</td>
                                                <td>0.00</td>
                                            </tr>
                                            <tr>
                                                <td>Crisil Ltd</td>
                                                <td>287.10</td>
                                                <td>769846</td>
                                                <td>1.71%</td>
                                                <td>98.3 Cr</td>
                                                <td>0.00</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Primary table end -->

    </div>
</div>


{% endblock content %}