{% extends "dashboard/base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tweets', 'No of tweets'],
          ['Positive', {{ pos_count }}],
          ['Negative', {{ neg_count }}],
          ['Neutral', {{ neutral_count }}]
        ]);

        var options = {
          title: 'Twitter Sentiment Analysis',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
</script>

<div class="main-content-inner">
    <div class="row">

        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                        <h4 class="header-title">Result (Keyword: {{ keyword }}):</h4>
                        <div id="piechart_3d" style="width: 480px; height: 480px;"></div>

                        <p align="center">*Quick Note: Our sentiment analysis tool is still in learning phase which means that some
                            of the tweets may not be categorized correctly. However, as we analyze more data with time, our
                            machine will learn and give better results.</p><br><br>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                        <h4 class="header-title">Tweets for: {{ keyword }}</h4>

                        <div class="data-tables">
                            <table id="dataTable" class="text-left">
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Top tweets</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for y in newtweetn %}
                                <tr>
                                    <td>{{ y }}</td>
                                    <td>Negative</td>
                                </tr>
                                {% endfor %}
                                {% for z in newtweetp %}
                                <tr>
                                    <td>{{ z }}</td>
                                    <td>Positive</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>


{% endblock content %}