{% extends "dashboard/base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['News', 'No of news'],
          ['Positive', {{ pos_count }}],
          ['Negative', {{ neg_count }}],
          ['Neutral', {{ neu_count }}]
        ]);

        var options = {
          title: 'Google News Sentiment Analysis',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
</script>

<div class="main-content-inner">
    <div class="row">

        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                        <h4 class="header-title">Result (keyword: {{ Term }})</h4>
                        <div id="piechart_3d" style="width: 480px; height: 480px;"></div>

                        <p>
                            The overall sentiment is {{ Sentiment }} and subjectivity is {{ Subjectivity }}. <br> <br> {The sentiment is a floating number within the range [-1.0, 1.0] where -1 is extreme negative and +1 is extreme positive. And, the subjectivity is a floating number within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.}
                            <br><br>*Note that the analysis is based only in english language news.
                        </p><br><br>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                        <h4 class="header-title">Google News: {{ Term }}</h4>

                        <div class="data-tables">
                            <table id="dataTable" class="text-left">
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <th>Top Google News</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for y in gheadline_pos %}
                                <tr>
                                    <td>{{ y }}</td>
                                    <td>Positive</td>
                                </tr>
                                {% endfor %}
                                {% for z in gheadline_neg %}
                                <tr>
                                    <td>{{ z }}</td>
                                    <td>Negative</td>
                                </tr>
                                {% endfor %}
                                {% for x in gheadline_neu %}
                                <tr>
                                    <td>{{ x }}</td>
                                    <td>Neutral</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>


{% endblock content %}